/* vanilla css cause im tired to set the tailwind */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  text-align: center;
}

ul {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

li {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #fff;

  & p {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  & button {
    padding: 0.3rem;
    background-color: #a30000;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #720000;
      transform: scale(1.05);
    }
  }
}

form {
  display: flex;
  padding: 0.3rem;
  margin: 1rem 0 1rem 0;
  gap: 0.3rem;

  & input {
    border-radius: 2px;
    padding: 0.3rem;
  }

  & button {
    background-color: #004e00;
    color: #fff;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 2px;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #009200;
      transform: scale(1.1);
    }
  }
}